<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="WebShopTestSuite" parallel="methods" thread-count="2">
    <test name="WebShopTests">
        <classes>
            <class name="Test.HomeTest"/>
            <class name="Test.RegisterTest"/>
        </classes>
    </test>
</suite>
